* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Arial, sans-serif;
}

body {
    background-color: #f1f5f9;
    color: #0f172a;
    line-height: 1.6;
}

.container {
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
}

.navbar {
    background: #ffffff;
    border-bottom: 1px solid #e5e7eb;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 70px;
}

.logo {
    font-size: 22px;
    font-weight: 600;
}

nav a {
    margin-right: 20px;
    text-decoration: none;
    color: #334155;
    font-size: 15px;
}

.btn-primary {
    background: #2563ebff;
    color: white;
    border: none;
    padding: 10px 18px;
    border-radius: 6px;
    cursor: pointer;
}
.btn-primary:hover {
  background: #0e368dff;
}

.large {
    padding: 14px 26px;
    font-size: 16px;
}

.hero {
    background: linear-gradient(135deg, #0f172a, #1e293b);
    color: white;
    padding: 120px 20px;
}

.hero-content {
    max-width: 700px;
}

.hero h2 {
    font-size: 40px;
    margin-bottom: 20px;
}

.hero p {
    font-size: 18px;
    margin-bottom: 30px;
    color: #cbd5f5;
}

.section-title {
    text-align: center;
    font-size: 28px;
    margin-bottom: 50px;
}

.features {
    background: white;
    padding: 80px 0;
}


.feature-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    gap: 30px;
}

.feature-card {
    background: #f8fafc;
    padding: 30px;
    border-radius: 12px;
}

.pricing {
    padding: 80px 0;
}

.pricing-grid {
    display: flex;
    justify-content: center;
    gap: 30px;
    flex-wrap: wrap;
}

.price-card {
    background: white;
    padding: 35px;
    width: 260px;
    text-align: center;
    border-radius: 12px;
    border: 1px solid #e5e7eb;
}

.featured {
    border: 2px solid #2563eb;
}

.price {
    font-size: 36px;
    margin: 15px 0;
}

